.cor-de-fundo{
    background: black;
   
   
}

.profile{
    color: black; 
    font-size: 90px;
    width: 100px;
}


.border-profile {
    position: static;
    background-color: white;
    border: 5px solid #00FFFF;
    border-radius: 80%;
    height: 100px;
    width: 100px;

}
