.cor-de-fundo{
    
    background: linear-gradient( #011226, black); 
}

.cor-de-profile{
    
    background: black; 
    position: relative;
    margin-bottom: 20px;
}


.profile{
    color: black; 
    font-size: 90px;
    width: 100px;
}


.border-profile {
    position: static;
    background-color: white;
    border: 5px solid #00FFFF;
    border-radius: 80%;
    height: 100px;
    width: 100px;

}
.alterar-fonte{
    font-family: ErasDemiITC;

    position: relative;
    background: black;
    font-size: 25px;
    color: blanchedalmond;
    margin-bottom: 70px;
   line-height: 0.5px;


}