<section class="jumbotron text-center geral-style">
    <div class="container">
      <div *ngIf="lesson else sorry">
        <h3>{{skill.skillName}}</h3>
        <h1 class="jumbotron-heading" >{{lesson.lessonName}}</h1>
      </div>
      <ng-template #sorry>
        <h1 class="jumbotron-heading" >Selecione uma aula</h1>
      </ng-template>

      <div *ngIf="loader=='stopped' else loading">
        <a 
          class="btn btn-secondary text-white m-2 buttons"
          *ngIf="lesson"
          (click)="onclikAcessar()">
            Acessar 
        </a>

        <a 
          class="btn btn-secondary text-white m-2 buttons"
          *ngIf="lesson"
          (click)="onclickProxima()">
            Próxima Aula
        </a>
      </div>
        <ng-template #loading>
          <div class="row d-flex justify-content-center">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
          </div>
        </ng-template>
    </div>
</section>
