<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" *ngIf="lesson else sorry">{{lesson.nome}}</h1>
      <ng-template #sorry>
        <h1 class="jumbotron-heading" >Selecione uma aula</h1>
      </ng-template>
        <a 
          class="btn btn-secondary text-white m-2"
          *ngIf="lesson"
          (click)="onclikAcessar()">
            Acessar 
        </a>

        <a 
          class="btn btn-secondary text-white m-2"
          *ngIf="lesson"
          (click)="onclickProxima()">
            Próxima Aula
        </a>
    </div>
</section>
