<header class="navbar-static-top">

  <nav class="navbar navbar-static-top navbar-light bg-light ">
    <span class="navbar-brand mb-0 h1">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L.png" width="50" height="50"
        [routerLink]="['/home']">
    </span>

    <div *ngIf="(user$ | async) as user">
      <a class=" text-center ml-2">Olá, {{ user.name }}</a>
    </div>

    <div>
      <div class="dropleft border rounded-circle">
        <button class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">
            <app-metas></app-metas>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <a (click)="logout()" type="button" class="text-decoration-none text-white btn btn-danger mr-2">
              Sair
            </a>
          </a>
        </div>
      </div>
    </div>

  </nav>
</header>