

.cabecalho {

    font-family: ErasDemiITC;
    src: url('/src/assets/fonts/erasDemi/eras-demi-itc.ttf') format("truetype");

    font-size: 15px;
    color: white;
    vertical-align: right ;
    line-height: normal;
    background: #001226;
    
}

