<nav class="navbar navbar-light bg-light fixed-top">
  <span class="navbar-brand mb-0 h1">
    <img 
      src="https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L.png" 
      width="50" 
      height="50"
      [routerLink]="['../Home']"
    >
  </span>

  <div *ngIf="(user$ | async) as user">
    <a class=" text-center ml-2">Olá, {{ user.email }}</a>
  </div>

  <div>
    <a 
    (click)="logout()"
    type="button"  
    class="text-decoration-none text-white btn btn-danger mr-2">
      Sair
    </a>
  </div>
</nav>  
