<header class="navbar-static-top">

  <nav class="navbar navbar-static-top navbar-light cabecalho ">
    <span class="navbar-brand mb-0 h1">
    <img src="../../../assets/images/icons/Logo.svg" width="150" height="50"
    [routerLink]="['/home']">
    

    </span>

    <div class="d-flex flex-row-reverse ">
      <div class="dropleft">
        <button class="rounded-circle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user fa-4x border-profile profile-picture" aria-hidden="true"></i>
        </button>
     
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">
            <app-metas></app-metas>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <a (click)="logout()" type="button" class="text-decoration-none text-white btn btn-danger mr-2">
              Sair
            </a>
          </a>
        </div>
      </div>
      
      <div class="alinhamento"*ngIf="performace!= null; else performaceErro">
        <div class="text-right">{{performace.totalWakanderTribesCompleted}} &#8725;
          {{performace.totalWakanderTribesJourney}}<br class="cabecalho alinhamento "> TRIBOS<br class="cabecalho">EXPLORADAS
        </div>
      </div>
      <ng-template class="p-2" #performaceErro>
        Houve um erro ao carregar suas performaces
      </ng-template>
    </div>



  </nav>
</header>
