<a [href]="landingPage" type="button" class="btn btn-danger m-4 text-white">	&#5176; Voltar</a>

<div class="container m-4">
  <h4 class="text-left mb-4 ml-2">Login</h4>
  <form class="border p-4 rounded-top" [formGroup]="loginForm" (submit)="login()">

    <div class="form-group">
      <label for="InputEmail">Email</label>
      <input 
        #InputEmail
        formControlName="email" 
        type="email" 
        class="form-control" 
        id="InputEmail"
        placeholder="Digite seu Email">

          <app-val-message 
            *ngIf="loginForm.get('email').errors?.required"
            text="Por favor, digite seu email.">
          </app-val-message>

          <app-val-message 
            *ngIf="loginForm.get('email').errors?.emailPadrao"
            text="Email invalido.">
          </app-val-message>
    </div>

    <div class="form-group">
      <label for="InputSenha">Senha</label>
      <input 
        formControlName="senha" 
        type="password" 
        class="form-control" 
        id="InputSenha"
        placeholder="Digite sua senha">
          <app-val-message 
            *ngIf="loginForm.get('senha').errors?.required"
            text="Por favor, digite sua senha.">
          </app-val-message>
    </div>

    <small 
      class="d-block mb-2">Não esta cadastrado? 
      <button 
        [routerLink]="['../signUp']"
        type="button" 
        class="btn btn-success">
          Cadastre-se aqui!
      </button>
    </small>

    <button 
      [disabled]="loginForm.invalid" 
      type="submit" 
      class="btn btn-primary mr-4">
        Entrar
    </button>
    
  </form>
</div>