.titulo-jornada{
    background-image: linear-gradient(to bottom, black, #040813); 
    font-family: DecoturaICG;
    
    text-align: center;
    min-width: 100vh;
    
    padding-bottom: 2px;

   

}

.titulo-jornada h2{

    font-size: 4rem;
    line-height: 1.5;
    
    align-items: center;
    justify-content: center;
    color: white;

    display: flex;

}

#imagem-fundo{
    position: absolute;
    height: 100%;
    width: 100%;

}


.list-group{

    
    color: #ffffff;
    display: block;
}


.tribos {

    border: 2px solid #00ffff;   
    
}








