<div class="bg-light">
  <h2 class="text-center bg-dark text-white p-4">Tribos</h2>

  <ol class="list-group">
    <li *ngFor="let cols of rows" class="row no-gutters mr-1 ml-1 p-4">
      
        <div 
          *ngFor="let tribe of cols" 
          class="col-6 m-0 p-4" 
          style=
            "
            text-align: center;
            "
        >
            <app-wakanda-tribe 
              [code]="tribe.tribeCode" 
              [nome]="tribe.nameTribe" 
              [descricao]="tribe.description"
              [icon_url]="tribe.icon_url"
              [status]="tribe.status"
              [wkCode]="wkCode"
              >
            </app-wakanda-tribe>         
        </div>
    </li>
  </ol>
</div>
