.tab-desempenho >{
    font-family: DecoturaICG;
    font-size: 14px;
}

.tab-desempenho h3 {
    font-family: DecoturaICG;
    font-size: 22px;
    white-space: nowrap;
    color: #ffffff;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/* #my-tab {
    background-color: none;;
} */

#home-tab, #profile-tab{
    background-color: #000000;
    padding: auto;
    border-color: transparent;
    text-align: center;
}

.li-profile {
    position: absolute;
    left: 45%;
}

.trapezoid {
    border-bottom: 50px solid #000000;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 50%;
}