<div class="bg-light">
  <div class="bg-light mx-auto container">
    <ul class="nav nav-tabs mx-auto bg-dark" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active " id="home-tab" data-toggle="tab" href="#semanal" role="tab" aria-controls="home"
          aria-selected="true">
          <h3>Desempenho semanal</h3>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="profile"
          aria-selected="false">
          <h3>Desempenho geral</h3>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active bg" id="semanal" role="tabpanel" aria-labelledby="home-tab">
        <app-semanal></app-semanal>
      </div>
      <div class="tab-pane fade" id="geral" role="tabpanel" aria-labelledby="profile-tab">
        <app-geral></app-geral>
      </div>
    </div>
  </div>
</div>