@font-face{
    font-family: erasDemi;
    src: url('/src/assets/fonts/erasDemi/eras-demi-itc.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.modal-header {
    padding-left: 150px;
    background-size: cover;
    color: white;
    text-align: center;
    border: none;
}

.modal-header h4 {

    font-size: 20px;
    margin-top: 5%;
    font-style: italic;
}

#border {

    border-color: #00FFFF;
    border-width: 1.5px;
    border-style: solid;
}

.close {
    color: white;
}

.modal-body{

    border: none;
}

.backgroundteste{
    background: black;
}

.form-group{
    color: white;
    text-align: center;
    font-family: erasDemi;
    font-size: 0.8rem;
}


.modal-footer{
    padding-right: 200px;
    font-family: erasDemi;
    border: none;
    
}

.btn {
    background: #0000FF;
    border: none;
    width: 94px;
    height: 28px;
    margin-bottom: 5%; 
}


