<body class="backgroundteste">

  <div id="border">
      <div class="modal-header">
        <h4>DEFINA SUAS METAS</h4>
          <button *ngIf="(metasService.getterMetas()|async).weeklyGoalStudyHours != 0" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <div class="modal-body">
      <form class="p-4" [formGroup]="metasForm">

        <div id="container">
            <div class="form-group">
              <label for="InputHoras">INFORME SUA META SEMANAL DE HORAS DE ESTUDO:</label>
              <div class="background-caixa">
                <input #InputHoras formControlName="metaHoras" type="number" class="input-horas borda"  id="InputHoras"
                placeholder="Digite sua meta" min="0" max="168" style="width: 5.2em;"> 
               <!-- <img class="setinha1" src="../../../../../assets/images/icons/Seta Menu.svg" alt="setaparabaixo" style="width: 28%;"/> -->
              </div>
            </div>

            <div class="form-group">
                <label for="InputJornada">O PRÓXIMO OBJETIVO DA SUA JORNADA EM WAKANDA SERÁ:</label>
                <div class="background-caixa2">
                  <input formControlName="metaJornada" type="search" class="input-tribo" id="InputJornada"
                  placeholder="Digite sua meta" [ngbTypeahead]="search" style="width: 14.3em;">  
                  <img class="setinha2" src="../../../../../assets/images/icons/Seta Menu.svg" alt="setaparabaixo" style="width: 12%;"/>        
                </div>
            </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
      <button [disabled]="metasForm.invalid" type="submit" class="btn btn-primary mr-4" (click)="submit()">
        OK
      </button>
    </div>
  </div> 
</body>