@font-face{
    font-family: erasDemi;
    src: url('/src/assets/fonts/erasDemi/eras-demi-itc.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.modal-header {
    padding-left: 150px;
    background-size: cover;
    color: white;
    text-align: center;
    border: none;
}

.modal-header h4 {

    font-size: 20px;
    margin-top: 5%;
    font-style: italic;
}

#border {

    border-color: #00FFFF;
    border-width: 1.5px;
    border-style: solid;
}

#container{
    text-align: center;
    justify-content:center;
    align-items:center;
}

.close {
    color: white;
}

.modal-body{

    border: none;
}

.backgroundteste{
    background: black;
}

.form-group{
    color: white;
    text-align: center;
    font-family: erasDemi;
    font-weight: bold;
    font-size: 75%;
}

.background-caixa{

   border: 1.5px solid #00ffff;
   width: 7.6em;
   height: 9.35em;
  
}

.background-caixa2{

    background-color: #0000ff; 
    border: 1px solid #00ffff;
    width: 50%;
    
}

.modal-footer{
    padding-right: 180px;
    border: none;
    
}

.btn {
    background: #0000FF;
    border: none;
    width: 94px;
    height: 28px;
    margin-bottom: 5%;
    margin-top: 0.5%;
    padding-top: 0.5%;
}

.setinha1{

    width: 200px;
    height: 200px;
    color: white;    
}
