<body class="backgroundteste">

  <div id="border">
      <div class="modal-header">
        <h4>DEFINA SUAS METAS</h4>
          <button *ngIf="(metasService.getterMetas()|async).weeklyGoalStudyHours != 0" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
      <form class="p-4" [formGroup]="metasForm">

    <div id="container">
          <div class="form-group">
            <label for="InputHoras">INFORME SUA META SEMANAL DE HORAS DE ESTUDO:</label>
            <div style="background-color: #0000ff; border: 1px solid #00ffff;">
              <input #InputHoras formControlName="metaHoras" type="number" class="form-control input-horas" id="InputHoras"
              placeholder="Digite sua meta" min="0" max="168">
              <img class="setinha1" src="../../../../../assets/images/icons/Seta Menu.svg" alt="setaparabaixo"/>
            </div>
          </div>

          <div class="form-group">
            <label for="InputJornada">O PRÓXIMO OBJETIVO DA SUA JORNADA EM WAKANDA SERÁ:</label>
            <input formControlName="metaJornada" type="search" class="form-control2 input-tribo" id="InputJornada"
            placeholder="Digite sua meta" [ngbTypeahead]="search">  
            <img class="setinha1" src="../../../../../assets/images/icons/Seta Menu.svg" alt="setaparabaixo"/>        
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
      <button [disabled]="metasForm.invalid" type="submit" class="btn btn-primary mr-4" (click)="submit()">
        OK
      </button>
    </div>
  </div> 
</body>