.geral {

    font-family: ErasDemiITC;
}
.estilizacao {

    font-family: DecoturaICG;


}

.cor-do-card {

    background: #333333;
   
   

}

.cor-imagem{

    background: black;
}

.progressabar{
  background: #00FFFF;

}
.habilidades{
    background: #001226;
}