.geral {

    font-family: ErasDemiITC;
}
.estilizacao {

    font-family: DecoturaICG;


}

.cor-do-card {

    background: #333333;
    
}

.cor-imagem{

    background: black;
}

.borda-imagem {

    border-radius: 50%;
    border: #00ffff solid 3px;
}

.progressabar{
    border: #001226 solid;
    border-top-width: 3px;
    border-right-width: 10px;
    border-bottom-width: 3px;
    border-left-width: 10px;
    padding: 0.2px;
    transform: skew(-20deg);
}

.barra {
    color: red;
}

.habilidades{

    background: #001226;
}

.progress-bar{
    background-color:black !important;  
    }

.bread-crumbs {

    font-family: ErasDemiITC;
    font-size: 16px;
}