<div class="row ">
    <div class="col-3">

        <div class="card text-black p-2">
            <div class="row mt-1 ml-1">
                <img [src]="tribo.icon_url" class="d-block rounded-circle" style="max-height: 100px; max-width: 100px;">
            </div>
            <h5 class="card-header estilizacao">Tribo atual:<br>{{tribo.nameTribe}}</h5>
            <div class="card-body">
                <!-- <h5 class="card-title">{{tribo.nome}}</h5> -->
                <p class="card-text">{{tribo.descriptionTribe}}</p>
                <p *ngIf="percent!=null; else percentageNull"
                    class="container">
                    <ngb-progressbar type="dark" textType="light" [value]="percent"
                        [showValue]="true">
                    </ngb-progressbar>
                </p>
                <ng-template #percentageNull>Progresso da tribo indisponivel</ng-template>
            </div>
        </div>

        <div class="card bg-light">
            <h5 class="card-header">Habilidades</h5>
            <div class="container mr-1 p-2" *ngIf="tribo">
                <app-wakander-tribe-skill-list [code]="code" [skills]="(tribo || {}).wakanderTribeSkills">
                </app-wakander-tribe-skill-list>
            </div>
        </div>

    </div>

    <div class="col-9">
        <div class="bread-crumbs">
            {{breadCrumbs}}
        </div>
        <app-skill-lesson></app-skill-lesson>
    </div>
</div>