.acima-de-400px { display: inline; }
.abaixo-de-400px { display: none; }

.card-style {

    height: 10%;

}
.estilo-imagem {


    display: inline;
    position: relative;
    top: 40px;
    width: 40%;

}

.geral {

    font-family: ErasDemiITC;
}
.estilizacao {


    margin-left: 20px;
    margin-top: 5px;
    font-family: DecoturaICG;
    font-size: 40px;
    color: white;
   

}

.estilizacao-subtitulo {
    font-family: DecoturaICG;
    font-size: 10px;
    color: #00ffff;
    text-align: left;
}

.cor-do-card {

    background: #333333;
    
}

.cor-imagem{

    background: black;
}

.borda-imagem {

    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: #00ffff solid 3px;
}

.progressabar{

    position: relative;
    bottom: 20px ;
    border: #001226 solid;
    border-top-width: 3px;
    border-right-width: 10px;
    border-bottom-width: 3px;
    border-left-width: 10px;
    padding: 0.2px;
    transform: skew(-20deg);

}

.barra{
    color: red;
}

.habilidades{

    background: #001226;
}

.progress-bar{
    background-color:black !important; 

    
    }

.bread-crumbs {

    font-family: ErasDemiITC;
    font-size: 16px;
}


:host /deep/ .progress {background-color: black !important};
