<div class="row">
    <div class="col-4">

        <div class="card card-style text-black p-2 cor-do-card" >
            <div class="row mt-1 ml-1">
                <!-- <img [src]="tribo.icon_url" class="d-block rounded-circle cor-imagem" style="max-height: 100px; max-width: 100px;"> -->
             <img src="../../../assets/images/teste/Ícone 1.svg" class="d-block rounded-circle borda-imagem cor-imagem estilo-imagem" style="max-height: 100px; max-width: 100px;">
             <h5 class="estilizacao"><br>{{tribo.nameTribe}}<h6 class="estilizacao-subtitulo">WEB APP JAVASCRIPT</h6></h5>
             
            </div>
            
            <div class="card-body">
                <!-- <h5 class="card-title">{{tribo.nome}}</h5> -->
                <p class="card-text">{{tribo.descriptionTribe}}</p>
                <p *ngIf="percent!=null; else percentageNull"
                    class="container progressabar rounded">
                    <ngb-progressbar class="progress-bar" type="primary" textType="dark" [value]="75"
                        [showValue]="true">
                    </ngb-progressbar>
                </p>
                <ng-template #percentageNull>Progresso da tribo indisponivel</ng-template>
            </div>
        </div>

        <div class="card habilidades ">
            <h5 class="card-header">Habilidades</h5>
            <div class="container mr-1 p-2" *ngIf="tribo">
                <app-wakander-tribe-skill-list [code]="code" [skills]="(tribo || {}).wakanderTribeSkills">
                </app-wakander-tribe-skill-list>
            </div>
        </div>

    </div>

    <div class="col-8">
        <div class="bread-crumbs">
            {{breadCrumbs}}
        </div>
        <app-skill-lesson></app-skill-lesson>
    </div>
</div>