


  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Criando minha raquete do oponente</h1>
        <a [ngClass] ="{
            'btn btn-primary my-2': acessar,
            'btn btn-secondary my-2':!acessar
        }"href="#" (click)="onclikAcessar()">Acessar </a>

        <a [ngClass] ="{
            'btn btn-primary my-2': proxima,
            'btn btn-secondary my-2':!proxima
        }"href="#" (click)="onclickProxima()">Próxima Aula</a>



    
    </div>
  </section>
