<a 
  (click)="redirect()" 
  class =
    "
    list-group-item 
    list-group-item-action 
    list-group-item-secondary
    " 
>
  <div class="row">
    <div class="col-sm-6">
        <div class="row ">
          <img 
            class="col-sm-3" 
            [src]="icon_url" 
            alt="logo da tribo"
          />
          <div class="col-sm-6">
              <h3>{{nome}}</h3>
              <p class="card-text">{{descricao}}</p>
          </div>
        </div>
    </div>    
  </div>
</a>
