<a (click)="redirect()" class="
background
  list-group-item 
  list-group-item-action 
  <!-- list-group-item-secondary -->
  " 
   data-toggle="modal" data-target="#exampleModal">

  <div class="row">
    <div class="col-12">
      <div class="row ">

        <div class="imagem-tribo">
          <img class="icone-tribo col-3 mr-5 rounded-circle" src="../../../../assets/images/teste/Ícone 1.svg" alt="logo da tribo" style="max-width: 100px; max-height: 100px;" />
        </div>
                
          
          <div class="titulo-subtitulo">
            <h3 class="nome-tribo">{{numero+1}} {{tribe.name}}</h3>
          
            <p class="subtitulo-tribo">{{tribe.description}}</p>
            <p *ngIf="tribe.completedPercentageTribe!=1 && tribe.completedPercentageTribe!=null; else percentageNull"
              class="container">
              <ngb-progressbar type="dark" textType="light" [value]="tribe.completedPercentageTribe*100"
                [showValue]="true">
              </ngb-progressbar>
            </p>
            <ng-template class="progresso" #percentageNull></ng-template>
          </div>
        </div>
      </div>
      <i *ngIf="this.tribe.status.toString() =='DONE'" class="fa fa-check fa-4x fa-fw fa-inverse"></i>
    </div>
  </a>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Ops!</strong> você ainda não tem acesso a esse curso!
        <button type="button" class="close p-1" data-dismiss="alert" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
                  