
.list-group-item-action {
    cursor: pointer;
   
}

.background {
    background: #000000;
}

.imagem-tribo {
    
}

.titulo-subtitulo {
    height: 4rem;


}

.nome-tribo {

    font-family: DecoturaICG;
    font-size: 2.8rem;
    line-height: 1;
   
    

}

.subtitulo-tribo {

    font-family: erasMedium;
    font-size: 0.9rem;
    line-height: 0.8rem;
    
}


