.list-group-item-action {
    cursor: pointer;
}

.background {
    background: #000000;
}

.row {
    right: 4rem;
}

.col-6 {
    left: 4rem;
}

.nome.tribos h3 {

    font: decoturaICG;
    text-align: left;
    font-size: 1.9rem;
    padding-right: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.card-text {
    
    font-family: erasMedium;
    font-size: 0.8rem;

}

.container {

    padding: 1rem;

}