
.list-group-item-action {
    cursor: pointer;
}

.background {
    background: #000000;
}

.row {
    right: 4rem;
    height: 130px;
}

.col-6 {
    left: 8rem;
}

.h3{


        
}



.card-text {
    
    font-family: erasMedium;
    font-size: 0.8rem;

}

.container {

    padding: 1rem;

}